<h8 class='margin-top-20'>Invoice Summary</h8>

<table class='top-bottom-border'>
  <tbody>
    <tr>
      <td class='table-label'>Invoice #</td>
      <td> {{invoice.number}}</td>
    </tr>
    <tr>
      <td class='table-label'>Invoice Date</td>
      <td>{{invoice.invoice_date}}</td>
    </tr>
    <tr>
      <td class='table-label'>Due Date</td>
      <td>{{invoice.due_date}}</td>
    </tr>
    <tr>
      <td class='table-label'>Amount Due</td>
      <td>{{invoice.total}}</td>
    </tr>
  </tbody>
</table>
