$('#alert').html("<div class='alert alert-success alert-auto-dissapear'><%= flash[:success] %></div>");

$("div#account_addresses").html("<%= escape_javascript(render(partial: 'spree/manage/accounts/addresses')) %>");

setTimeout(function() {
 $(".alert-auto-dissapear").fadeOut(1500);
},2000);


// $("#alert").html("<%#= escape_javascript(render(partial: 'spree/shared/errors')) %>");
