$('#no-viewable-products').remove();
$('#alert').append("<div class='alert alert-success alert-auto-dissapear'>Viewable list has been updated</div>")


setTimeout(function() {
    $(".alert-auto-dissapear").fadeOut(1000);
},1000);
