<tbody id='loading-accounts' class="<%= 'hidden' if %w[new create update].include? params[:action] %>">
  <tr>
    <td colspan="100%">
      Loading Customers <%= image_tag 'frontend/loading.gif' %>
    </td>
  </tr>
</tbody>
