<h1>New Adjustment</h1>
<%= form_for [:manage, @order, @adjustment] do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <button class="btn btn-primary">Save</button>
  <%= link_to Spree.t(:Cancel), edit_manage_order_path(@order), class: 'btn default' %>
<% end %>
