<div class="portlet-title">
  <div class="caption">
    <span class="caption-subject font-blue-madison bold uppercase">
      Variant: <span id='product-name'></span>
    </span>
  </div>
  <div class="actions">
    <button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true"></button>
  </div>
</div>
<div id='loading-message'>
  Loading Variant <%= image_tag 'frontend/loading.gif' %>
</div>
