$('.portlet', '#option-type-modal').replaceWith("<%= j render(partial: 'spree/manage/option_types/body/edit') %>");
$('.portlet-title', '#option-type-modal').append("<div class='actions'><button type='button' class='close modal-close' data-dismiss='modal' aria-hidden='true'></button></div>");
