<% if @account.nil? %>
  $('#account-address-info').replaceWith("<section id='contact-user-section' class='alert alert-warning alert-dismissable'> <button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button> Could not find account</section>");
<% else %>
  $('#contact-user-section').replaceWith("<%= escape_javascript(render partial: 'account_contact') %>");
<% end %>

$('#standing_order_user_id').empty();
<% @account.users.each do |user| %>
    $('#standing_order_user_id').append("<option value='<%= user.id %>'><%=user.name%></option> %>");
<% end %>

if ($('#standing_order_user_id option').length == 0) {
  $('#contact-user').addClass('hidden');
} else {
	$('#contact-user').removeClass('hidden');
}
