<div class="portlet-title">
    <div class="caption">
      <i class="fa fa-cogs"></i>
      Free Shipping
    </div>
    <div class="actions">
      <!-- <a class="close-button" href=""><i class="fa fa-times"></i></a> -->
    </div>
</div>
<div class="portlet-body">
  Yay! Nothing further to do for this action!
</div>
