<% unless vendor.track_inventory %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    <span class='margin-right-20'>You are not currently tracking inventory.</span><%= link_to 'Edit Company Settings', edit_manage_account_path, class: 'btn btn-primary' %>
  </div>
<% end %>
