var state_id_billing = $('#available-states-billing').val();
$('<%= "#available-states-#{params[:address_type]}"%>').empty().append("<option><option>");
<% @available_states.each do |state| %>
  $('<%= "#available-states-#{params[:address_type]}"%>').append("<option value='<%= state.id %>'><%= state.name %></option>");
<% end %>

$('#available-states-shipping').val(state_id_billing).change();
