<%= render partial: 'spree/manage/variants/headers/new_header' %>
<div class='row'>
  <div class="portlet light">
    <%= render partial: 'spree/manage/variants/page_content/new_body' %>
  </div>
</div>
