<section class='col-md-6 hidden' id='minimum-order-details'>
  <a style="float:right;" id='expand-order-details'>Show Details <i class="fa fa-expand" aria-hidden="true"></i></a>
  <p>Vendor: <%= @order.account.fully_qualified_name %></p>
  <p>Delivery Date: <%= display_vendor_date_format(@order.delivery_date, @order.vendor.date_format) %></p>
</section>

<section id='order-details-expanded'>
  <a style="float:right;" id='minimize-order-details'>Hide Details <i class="fa fa-compress" aria-hidden="true"></i></a>

  <div class="clearfix"></div>
  <div class='row'>
    <%= render partial: 'spree/shared/purchase_orders/order_details', locals: {f: f} %>
    <%= render partial: 'spree/shared/purchase_orders/account_details', locals: {f: f} %>
  </div>

  <div class="clearfix"></div>
</section>
