<div data-hook="admin_image_form_fields">

  <div class="">
    <div data-hook="file" class="">
      <%= f.label :attachment, Spree.t(:filename), class: "control-label" %><br>
      <%= f.file_field :attachment, class: "image-size-check" %>
    </div>
  </div>
  <br>
  <div data-hook="alt_text" class="">
    <%= f.label :alt, Spree.t(:alt_text) %><br>
    <%= f.text_field :alt, class: 'form-control' %>
  </div>

</div>
