<% if @integration.qbo_company_name.blank? %>
  <div class='row'>
    <div class='alert alert-danger'>
      You are not connected to Quickbooks Online.
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-3 name">
    <label class="control-label">
      Status
    </label>
  </div>
  <div class="col-md-9 value">
    <% if @integration.qbo_company_name.blank? %>
      <label class='btn btn-danger circle' style='cursor:default;'>Disconnected</label>
    <% else %>
      <label class='btn green-jungle circle' style='cursor:default;'>
        Connected
      </label>
    <% end %>
  </div>
</div>
<hr>
