<!-- BEGIN CONTACT MODAL -->
<div class="modal fade" id="contact_new" role="basic" aria-hidden="true">
  <div class="modal-dialog">
    <div id="contact_form" class="modal-content">
      <%= render partial: "contact_form", modal: true %>
    </div>
  </div>
</div>
<!-- END CONTACT MODAL -->
