<div class= "row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :name, Spree.t(:name), class: 'control-label' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :is_default, Spree.t(:default) %><br>
      <%= f.check_box :is_default, class: 'make-switch form-control', 'data-size' => 'mini' %>
    </div>
  </div>
</div>
<hr>
