<div class='col-sm-6'>
  <%= render partial: 'spree/manage/variants/costing_methods/costing_method_select', locals: {f: f} %>
</div>
<div class='col-sm-6'>
  <%= render partial: 'spree/manage/variants/costing_methods/cost_price_fields', locals: {f: f} %>
</div>
