<div class='row'>
  <div class='col-xs-12'>
    <h3>Configurable Options</h3>
  </div>
  <div class='col-md-6 col-sm-12'>
    <div class="form-group">
      <%= f.label :text_options, Spree.t('variant.text_options'), class: "control-label" %>
      <%= f.text_area :text_options, class: "form-control" %>
      <span class="help-block-italic">Separate options with commas</span>
    </div>
  </div>
</div>
