<div class='alert alert-danger'>
  Deleting of data is only available to Sweet Administrators.
</div>
<%= render partial: 'spree/manage/companies/resets/reset_inventory' %>
<%= render partial: 'spree/manage/companies/resets/delete_data' %>
