<div class="modal fade" id="refund-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class='portlet light'>
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject font-blue-madison bold uppercase">
              Refund Payment
            </span>
          </div>
          <div class="actions">
            <button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true"></button>
          </div>
        </div>
        <div id='refund-errors'></div>
        <div id='refund-form-container'>
          <div id='loading-message'>
            Loading <%= image_tag 'frontend/loading.gif' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
