<div class="modal fade" id="lot_modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <span class="caption-subject font-blue-madison bold uppercase">Create New Lot</span>
      </div>
      <div class="modal-body">
        <%= render partial: 'spree/manage/lots/modal/form' %>
      </div>
      <div class="modal-footer">
        <button type="button" id="create-lot-button" class="btn btn-primary">Create</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
